<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whaley.biz.program">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activitys.PortaitActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".ui.activitys.LandScapeActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".ui.activitys.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"></activity>
    </application>

</manifest>
